* {
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
}

.header {
    text-align: center;
    padding: 15px;
}

.header h1 {
    color: #000000;
    margin-bottom: 10px;
}

.create {
    position: relative;
    font-size: 0;
}

.create input {
    font-size: 16px;
    padding: 10px;
    width: 75%;
    display: inline-block;
    border: none;
}

.create button {
    font-size: 16px;
    padding: 10px;
    width: 25%;
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: #eee;
}

.main {
    background-color: green;
}

.main ul {
    padding-left: 0;
    margin: 0;
}

.main ul li {
    list-style: none;
    font-size: 16px;
    background-color: #f9f9f9;
    padding: 10px 10px 10px 40px;
    position: relative;
}

.main ul li:hover {
    cursor: pointer;
    background-color: #eee;
}

.main ul li .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
}

.main ul li.done {
    text-decoration: line-through;
    background-color: #a5a5a5;
    color: #fff;
}

.main ul li.done:before {
    content: '';
    position: absolute;
    left: 12px;
    padding: 10px 15px;
    background: url('./tick.svg') no-repeat top left;
}

.main ul li:hover .close {
    background-color: red;
    color: #fff;
}

.main ul li .close {
    float: right;
}